# Backend Server Environment Variables
PORT=5050

# Local MongoDB or MongoDB Atlas connection string:
# mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/thebalya?retryWrites=true&w=majority
MONGODB_URI=mongodb://127.0.0.1:27017/thebalya

NODE_ENV=development
